@import "feedback_settings";

$kelisto:   #864587;
$blue:   #009de0;
$gray:      #e4e4e4;
$error_red: #C00000;

#feedback{

  display: none;

  font-size: .9em;

  @media only screen and (min-width : 500px) {
    font-size: 1em;
  }

  h1{
    padding: .6em 0 .6em 1.2em;
    font-family:'Raleway';
    font-size:  1.2em;
    color:      #fff;
    background: $blue;
    margin:     0 auto 2em auto;
    @include border-corner-radius(top,left, .2em);
    border-top: 1px darken($$blue, 10) solid;
  }
  div.feedback-wrapper{
    width:80%;
    margin:1em auto;
  }
  p{
    margin: 0 auto 1.5em auto;
  }
  form{
    width: 100%;
    margin: 1em auto 3em auto;

    .column1{
      float:left;
      width:25%;
      color: darken($gray, 20);
      label{
        margin: .2em auto .6em auto;
        font-weight: normal;
      }
    }
    .column2{
      float:right;
      width:70%;
    }
    label.error{
      display: block;
      color: $error_red;
      font-size: .9em;
    }

    #terms-wrapper{
      label{
        display: inline;
        font-size: .9em;
        &.error{
          display: block;
        }
      }
      input{
        position:relative;
        top: -.05em;
        margin-right: .3em;
      }
    }
    input, textarea{
      margin-bottom: 1em;
      &.error{
        border: 1px $error_red solid;
      }
    }
    input.email{
      width: 100%;
      @media only screen and (min-width : 500px) {
        width: 60%;
      }

      padding: 0 .5em;
    }
    input[type="submit"]{
      clear: both;
      margin-top: 1em;
      .btn-primary{
        background-color: $blue;
        border-color: $blue;
      }
    }
    textarea{
      height: 8em;
      padding: 1em .5em;
    }
  }
}

#feedback-handle{
  position:       fixed;
  bottom:         15%;
  left:          -.1em;
  width:          2.1em;
  height:         7em;
  z-index: 99;
  opacity: .99; //handle was under the logos in the top box: how opacity changes stack context: http://philipwalton.com/articles/what-no-one-told-you-about-z-index/
  // @include background-image(linear-gradient(to right, $kelisto, lighten($kelisto,15)));
  // background: linear-gradient(to right, $kelisto, darken($kelisto,10)) image-url('feedback.png') top right no-repeat;
  background:     $blue image-url('ayuda.png') center center no-repeat;
  @include border-corner-radius(top,right,.3em);
  @include border-corner-radius(bottom,right,.3em);
  border-left:   4px $blue solid;
  cursor:         pointer;
  &:hover{
    left:          0;
    @include box-shadow(none);
  }
}
