#feedback
  %h2
    ¿Te podemos ayudar?

  .feedback-wrapper
    %p
      Ayudanos a mejorar la experiencia en
      %strong Kelisto.es
      compartiendo con nosotros tu opinión o alguna sugerencia!
    %p
      Si tienes algún problema técnico, o cualquier tipo de duda, por favor, no dudes en ponerte en contacto con nosotros!

    %form.clearfix
      .column1.form-group
        %label{:for=>"from"}
          Dónde te respondemos?
        %label{:for=>"message"}
          Tu mensaje, opinión...
      .column2.form-group
        %input{type:"text", placeholder:"tu correo electrónico", name:"from", class:"email form-control", value:"#{@user_email}"}
        %textarea{placeholder:"tu mensaje...", name: "message", id:"message", class:"form-control"}

        #terms-wrapper
          %label{:for=>"feedback-terms"}
            %input{type:"checkbox", name: "terms", id:"feedback-terms"}
            %span
              Confirmo que he leído y acepto la
              %a{:href => "/politica-de-privacidad"}
                política de privacidad

        %input{type:"submit", value: "Enviar"}
