@import "susy";
@import "compass";
@import "compass/css3";
@import "compass/utilities/general/min";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/text/replacement";


$main:#861f82;              //purple
$secondary:#eeaf00;         //orange
$green:#339933;             //green
